<p id="notice"><%= notice %></p>

<p>
  <strong>Interviewermail:</strong>
  <%= @interview.InterviewerMail %>
</p>

<p>
  <strong>Studentmail:</strong>
  <%= @interview.StudentMail %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @interview.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @interview.end_time %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
